<!DOCTYPE html>
<html lang="en">background: 100%;
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first page</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=KoHo:wght@200&display=swap" rel="stylesheet">
    <script src="javascript/index.js"></script>

</head>
<body >
   <div class="body">
    <nav class="navbar h-nav">
    

                <ul class="nav v-class">
                     <li class="item"><a href="index.html">HOME</a></li>
                     <li class="item"><a href="service.html">SERVICES</a></li>
                     <li class="item"><a href="about.html">ABOUT&nbspUS</a></li>
                     <li class="item"><a href="contact.html">CONTACT&nbspUS</a></li>
                </ul> 

                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
    </nav>
    <div class="main">

      <div class="text">
        <div class="firstt">The</div>
        <div class="second">Complaint</div>
        <div class="third">box</div>
      </div>

      <div class="users">
        <div class="complaint">
          <div class="text-complaint">You have complaints!! Register here</div>
          <select name="cars" class="complaint-list">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          <button class="complaint-btn">Submit</button>
        </div>
        <div class="usersection">
          <a href="/public/login.html"><button class="btnss">Admin LogIn</button></a>
          <a href="/public/login.html"><button class="btnss">User LogIn</button></a>
          <a href="/public/login.html"><button class="btnss">Employee LogIn</button></a>
        </div>
        <div class="for-new">New User?<a href="/public/register.html">Sign Up</a></div>
                
      </div>

    </div>
  </div>


<script src="/public/javascript/indexresponsive.js"></script>
</body>
</html>



 
